In [ ]:
#indexing
#Ordered
#multiple and duplicate values but no dublicate key
#mutable
#key & value dic = {<key>:<value>,<key>:<value>}
#no auto indexing in dictionary
#mutable
# a = dict() empty dictonary
#no concating in dict

In [1]:
a = {'A':"Apple",'B':"ball"}
print(a[])
print(type(a))

{'A': 'Apple', 'B': 'ball'}

In [4]:
d = {}
d['a'] = "Apple"
d['b'] = "ball"
d['c'] = "cat"
d['a'] = 'apple'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [ ]:
info = {}
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[phone] = name
print(info)

In [ ]:
for i in info:
    print(i)
    
for i in info.values():
    print(i)

for i in info.items():
    print(i)

In [ ]:
l = []
for i in info.items():
    l.append(i)
dict(l)

In [12]:
#update
#a.update(b)
#del , pop()

dic = {'a': 123,'b': 456,'c':789,'d': 123}
del dic['a']
print(dic)
b = dic.pop('a') # pop is using for moving value from one to another variable
print(b)

{'b': 456, 'c': 789, 'd': 123}

KeyError: 'a'

In [13]:
#list inside dictonary
a = {'ram':[9876323121,9774232],
     'shyam':[90109913,2144134],
     ' hari': [9799893313,13445]}
print(a)

{'ram': [9876323121, 9774232], 'shyam': [90109913, 2144134], ' hari': [9799893313, 13445]}

In [ ]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter phone = ")
    ncell_phone = input("Enter phone = ")
    info[name] = [ntc_phone, ncell_phone]
print(info)

In [6]:
info = {}
num = int(input("Enter number= "))
for i in range(num):
    name = input("Enter your name= ")
    address = input("Enter your address= ")
    info[name]=[address]
print(info)

Enter number= 2
Enter your name= ram
Enter your address= kathmandu
Enter your name= shyam
Enter your address= lalitpur
{'ram': ['kathmandu'], 'shyam': ['lalitpur']}

In [7]:
list(info)

['ram', 'shyam']

In [ ]:
employee_details = {}
employee_ = input("Enter employee name = ")
for i in range(empl):

In [5]:
#Dictonary inside Dictonary
d = {1:{"Name":"Ram","Age":56,"Address":"kathmandu"},
     2:{"Name":"Hari","Age":43,"Address":"lalitpur"},
     3:{"Name":"Ram","Age":56,"Address":"kathmandu"}}
d

{1: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'},
 2: {'Name': 'Hari', 'Age': 43, 'Address': 'lalitpur'},
 3: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'}}

In [2]:
d[4]={'Name':'sumit', 'Age':17, 'address':'lalitpur'}
d

{1: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'},
 2: {'Name': 'Hari',
  'Age': 43,
  'Address': 'lalitpur',
  3: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'}},
 4: {'Name': 'sumit', 'Age': 17, 'address': 'lalitpur'}}

In [3]:
del d[4]
d

{1: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'},
 2: {'Name': 'Hari',
  'Age': 43,
  'Address': 'lalitpur',
  3: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu'}}}

In [6]:
d = {1:{"Name":"Ram","Age":56,"Address":"kathmandu"},
     2:{"Name":"Hari","Age":43,"Address":"lalitpur"},
     3:{"Name":"Ram","Age":56,"Address":"kathmandu"}}
d[1]['phone'] = 9857731212
d[2]['phone'] = 9883122121
d[3]['phone'] = 9833134533
d

{1: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu', 'phone': 9857731212},
 2: {'Name': 'Hari', 'Age': 43, 'Address': 'lalitpur', 'phone': 9883122121},
 3: {'Name': 'Ram', 'Age': 56, 'Address': 'kathmandu', 'phone': 9833134533}}

In [7]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter the address = ")
    phone = int(input("Enter phone = "))
    d[i] = {"Name":name,"Age":age,"Address":add}
print(d)

Enter n = 3
Enter name = ram
Enter age = 42
Enter the address = kath
Enter phone = 988932
Enter name = hari
Enter age = 42
Enter the address = kathm
Enter phone = 89313
Enter name = hari
Enter age = 54
Enter the address = lalitpur
Enter phone = 988932
{1: {'Name': 'ram', 'Age': 42, 'Address': 'kath'}, 2: {'Name': 'hari', 'Age': 42, 'Address': 'kathm'}, 3: {'Name': 'hari', 'Age': 54, 'Address': 'lalitpur'}}

In [ ]:
#wap to create following type CRUD (create, read,update,delete)
#d = {"Name":["Ram","Hari","Sita"]
    #'Age':[23,43,45],
    # 'Address':['Kathmandu','bara','Lalitpur']}
        
#a = [{"Name":'ram','age':42,'address':'kathmandu'},
     #{"Name":'ram','age':42,'address':'kathmandu}]