In [1]:
# file = open(<'file_name'>, <'mode'>)

#with open('<file_name>', '<Mode>') as file:
#modes
#x --> creat
#r --> read 
#a --> append
#w --> write

#file = open('data.txt', 'x')
#file.close()

In [2]:
file = open('data.txt', 'x')
file.close()

FileExistsError: [Errno 17] File exists: 'data.txt'

In [ ]:
try:
    file = open('data.txt', 'x')
    file.close()
except:
    print(" error handling")

In [ ]:
file = open('data.txt', 'r')
x = file.read()
print(x)
file.close()

In [ ]:
print(type(x))

In [ ]:
x

In [ ]:
y = x.split("\n")

In [ ]:
file = open('datas.txt', 'w')
file.write("Hello world")
file.close()

In [ ]:
#wap to create a billing system string
unit = int(input("Enter the no of units consumed = "))
meter_charge = 100
if unit<=100:
    charge = unit*5
    print("Total bill is RS = ", unit+charge)
elif unit<=250:
    charge = unit*10
    print("Total bill is RS = ", unit+charge)
else:
    charge = unit*15
    print("Your charge is more than 10% sir. \nyour total bill is = ",charge+unit,".","\nThank you.")
    
file = open('data.txt','w')
file.write(total)
file.close()

In [ ]:
bill = str ()
file = open('data.txt','a')
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter qt = "))
    total = quantity*price
    info = f"{name} {price} {quantity} {total}\n"
    file.write(info)
    
print(bill)
file.close()

In [3]:
bill = str ()
file = open('data.csv','a')
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter qt = "))
    total = quantity*price
    info = f"{name},{price},{quantity},{total}\n"
    file = file('data.csv','w')
    file.write("Name,Price,Quantity,Total\n")
    file.write(bill)
    
print(bill)
file.close()

Enter n = 2
Enter name = momo
Enter price = 150
Enter qt = 2
Enter name = momo jhol
Enter price = 300
Enter qt = 2

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df

        momo  150  2  300
0  momo jhol  300  2  600

In [3]:
counter = 1
while counter < 10:
    counter = counter * 2
    print(counter)
del counter

2
4
8
16