In [1]:
import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",)= 
  database = "college_db"
)
db = database.cursor()

SyntaxError: cannot assign to function call (3630447599.py, line 3)

In [ ]:
num = int(input("Enter number = "))
if num == 1:
    n = int(input("Enter the number = "))
    for i in range(n):
        name = input("Enter name = ")
        roll= int(input("Enter roll = "))
        doj = int(input("Enter doj= "))
        sql = f"INSERT INTO employee (name,roll,doj) VALUE('{name}','{roll}',{doj})"
        db.execute(sql)
        database.commit()
elif num ==2:
    data = []
    db.execute("SELECT * employee")
    db.execute(sql)
    result = db.fectchall()
    for x in result:
        data.append(x)
data 
elif num == 3:
    sql = "UPDATE  *employee* SET name = 'shyam' WHERE sn = 3"
    db.execute(sql)
    database.commit()
elif num ==4:
    name = input("Enter your name: ")
    sn = int(input("Enter SN: "))
    sql = f"DELETE *employee* SET name = '{shyam}' WHERE sn = {3}"
    db.execute(sql)
    database.commit()

else:
    print("Invalid operation")