In [ ]:
#SET
# no Indexing
#Unordered
#Mutable
#NO duplicate data
#multiple values
#{} -- empty dictonary not set

In [2]:
s = {"apple","ball","cat","dog"}
s
type(s)

set

In [4]:
print(s)

{'dog', 'apple', 'cat', 'ball'}

In [6]:
s = {11,12,13,1452,893}
print(s)

{12, 893, 11, 1452, 13}

In [7]:
s = {"apple","ball","cat","dog","apple"}
print(s)  # does not support duplicate values

{'dog', 'apple', 'cat', 'ball'}

In [12]:
s = [11,22,43,21,33,21,33,40]
s = set(s)
s = list(s)
s

[33, 40, 43, 11, 21, 22]

In [14]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)  # add fucntion like append
print(s)

Enter n = 3
Enter x = 212
Enter x = 2124
Enter x = 412
{'412', '212', '2124'}

In [17]:
s = {'apple','cat','ball'}
s.remove('apple')
s

{'ball', 'cat'}

In [19]:
a = {"Ram","shyam","Hari","sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
#no concatination in set and dictonary
#union and update function
a.update(b)
print(a)

{'Tara', 'shyam', 'Sabin', 'Nabin', 'Hari', 'Ram', 'sita'}

In [20]:
a = {"Ram","shyam","Hari","sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
a.union(b)

{'Hari', 'Nabin', 'Ram', 'Sabin', 'Tara', 'shyam', 'sita'}

In [21]:
a = {"Ram","shyam","Hari","sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
a.intersection(b)

{'Nabin', 'Ram'}

In [22]:
a = {"Ram","shyam","Hari","sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
x = a.intersection(b)
len(x) # lenght of set

2

In [23]:
a.difference(b)

{'Hari', 'shyam', 'sita'}

In [24]:
b.difference(a)

{'Sabin', 'Tara'}

In [25]:
a.isdisjoint(b)

False

In [27]:
#super set 
a = {1,2,3,4}
b = {1,2,3,4,5,6}
a.issubset(b)

True

In [32]:
b.issuperset(a)

True

In [34]:
U = {"ram","shyam","Hari","sita","Nabin","jobs","mike","john"}
apple = {"ram","shyam","Hari","sita","Nabin","jobs"}
ms = {"nabin","Tara","hari","sita","gates"}
un = apple.union(ms)
U.difference(un)

{'john', 'mike'}